<body class="bg-gray-50 dark:bg-gray-800">

    <%= render partial: 'navigation' %>

        <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

            <%= render partial: 'sidebar' %>

                <%= render partial: 'home' %>

        </div>

        <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
        <script src="https://flowbite-admin-dashboard.vercel.app//app.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/datepicker.min.js"></script>

</body>

