<div id="<%= dom_id task %>">
  <div class="block mb-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
    <p>
      <strong>Name:</strong>
      <%= task.name %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= task.status %>
    </p>
  </div>
</div>
