<div id="<%= dom_id category %>">
  <div class="block mb-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
    <p>
      <strong>Name:</strong>
      <%= category.name %>
    </p>
  </div>
</div>
