<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-sm mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-black mb-6">Editing product</h1>
    <%= render 'form', product: @product %>
  </div>
</div>